
@{
    ViewBag.Title = "Product detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/hoverCart.cshtml")
<div id="view-image-product">
    <div id="close-view-image-product"><i class="fas fa-times"></i></div>
    <div class="big-image-view-product" style="background-image: url('../image/dell/dell1/dell1.png')"></div>
    <div class="items-image-view-product">
        <div class="item-image-view-product" style="background-image: url('../image/dell/dell1/dell1.png')"></div>
        <div class="item-image-view-product" style="background-image: url('../image/dell/dell1/dell2.png')"></div>
        <div class="item-image-view-product" style="background-image: url('../image/dell/dell1/dell3.png')"></div>
        <div class="item-image-view-product" style="background-image: url('../image/dell/dell1/dell4.png')"></div>
        <div class="item-image-view-product" style="background-image: url('../image/dell/dell1/dell5.png')"></div>
    </div>
</div>
<div id="product-page">
    <div id="content-product">
        <div class="infor-product">
            <div class="product-details">
                <div id="product-image" class="product-image" style='background-image: url("../image/dell/dell1/dell1.png")'></div>
                <div class="details-image">
                    <div class="details-image-item" style='background-image: url("../image/dell/dell1/dell1.png")'></div>
                    <div class="details-image-item" style="background-image: url('../image/dell/dell1/dell2.png')"></div>
                    <div class="details-image-item" style="background-image: url('../image/dell/dell1/dell3.png')"></div>
                    <div class="details-image-item" style="background-image: url('../image/dell/dell1/dell4.png')"></div>
                    <div class="details-image-item" style="background-image: url('../image/dell/dell1/dell5.png')"></div>
                </div>
                <div class="border-pro"></div>
                <div class="css-17aam1">
                    - Kích thước: 23.8" (1920 x 1080), Tỷ lệ 16:9<br> - Tấm nền IPS, Góc nhìn: 178
                    (H) / 178 (V)<br> - Tần số quét: 60Hz , Thời gian phản hồi 5 ms<br>- HIển thị màu sắc: 16.7 triệu
                    màu<br> - Cổng hình ảnh: 1 x DisplayPort 1.2a, 1 x HDMI 1.4, 1 x VGA/D-sub
                </div>
            </div>
            <div class="product-sale">
                <h1 class="title-pro">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</h1>
                <div class="trademark">Thương hiệu: VIEWSONIC</div>
                <div class="price-product">6.250.000 VND</div>
                <div class="border-pro"></div>
                <div class="BOXKHUYENMAILIENQUAN">
                    <div class="css-mz7xyg">Khuyến mãi liên quan</div>
                    <ul>
                        <li>
                            Nhập mã <strong>PV300</strong> giảm thêm 3% tối đa <span class="css-1m8enhf">
                                300.000<span class="css-1ul6wk9">đ</span>
                            </span> khi thanh toán qua VNPAY-QR.
                        </li>
                        <li>
                            Nhập mã <strong>APPLE800</strong> giảm thêm % tối đa <span class="css-1m8enhf">
                                800.000<span class="css-1ul6wk9">đ</span>
                            </span>. Áp dụng cho một số sản phẩm Apple trên 20.000.000đ
                            khi thanh toán qua VNPAY-QR.
                        </li>
                        <li>
                            Nhập mã <strong>APPLENEW</strong> giảm thêm 5% tối đa <span class="css-1m8enhf">1.000.000<span class="css-1ul6wk9">đ</span></span>. Áp dụng cho các
                            sản phẩm iPhone 13, Ipad 9th GEN &amp; Mini 6 khi thanh toán qua VNPAY-QR.
                        </li>
                    </ul>
                </div>
                <div class="border-pro"></div>
                <div class="btn-pro">
                    <div class="mua-ngay"><a href="" class="btn-mua ripple">MUA NGAY</a> </div>
                    <div class="them-vao-gio"><a role="button" id="them-vao-gio" class="btn-mua ripple">THÊM VÀO GIỎ HÀNG</a></div>
                </div>
            </div>

        </div>
        <div class="sale-policy">
            <div style="display:flex;margin-bottom: 8px">
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/free-ship.png')"></div>
                <!--                <img src="../image/icon-product/free-ship.png" style="">-->
                <span style="margin: auto 0 auto 0">Sản phẩm được miễn phí giao hàng</span>
            </div>
            <div class="border-pro"></div>
            <div class="policy" type="subtitle">Chính sách bán hàng</div>
            <div style="display:flex;margin-bottom: 8px">
                <!--                <img src="../image/icon-product/ship.png" style="margin-right: 3px;line-height:normal">-->
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/ship.png')"></div>

                <span style="margin: auto 0 auto 0">Miễn phí giao hàng cho đơn hàng từ 800K</span>
            </div>
            <div style="display:flex;margin-bottom: 8px">
                <!--                <img src="../image/icon-product/camket.png" style="margin-right: 3px;line-height:normal">-->
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/camket.png')"></div>

                <span style="margin: auto 0 auto 0">Cam kết hàng chính hãng 100%</span>
            </div>
            <div style="display:flex;margin-bottom: 8px">
                <!--                <img src="../image/icon-product/doitra.png" style="margin-right: 3px;line-height:normal">-->
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/doitra.png')"></div>

                <span style="margin: auto 0 auto 0">Đổi trả trong vòng 10 ngày</span>
            </div>
            <div class="policy" type="subtitle">Dịch vụ khác</div>
            <div style="display:flex;margin-bottom: 8px">
                <!--                <img src="../image/icon-product/suachua.png" style="margin-right: 3px;line-height:normal">-->
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/suachua.png')"></div>

                <span style="margin: auto 0 auto 0">Sửa chữa đồng giá 150.000đ.</span>
            </div>
            <div style="display:flex;margin-bottom: 8px">
                <!--                <img src="../image/icon-product/baotri.png" style="margin-right: 3px;line-height:normal">-->
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/baotri.png')"></div>

                <span style="margin: auto 0 auto 0">Vệ sinh máy tính, laptop.</span>
            </div>
            <div style="display:flex;margin-bottom: 8px">
                <!--                <img src="../image/icon-product/camket.png" style="margin-right: 3px;line-height:normal">-->
                <div class="img-sale-policy" style="background-image: url('../image/icon-product/camket.png')"></div>

                <span style="margin: auto 0 auto 0">Bảo hành tại nhà.</span>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="body-content">
            <div>
                <div class="tabs">
                    <a class="tab active" href="#">Thông số kỹ thuật</a>
                </div>
                <div class="tab-contents">
                    <div class="tab-content active" data-tabidx="1">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table-specs">
                                    <tbody>
                                        <tr>
                                            <td> CPU</td>
                                            <td>
                                                AMD Ryzen™ 5 5600H Processor (3.3GHz, 16MB Cache, Up to 4.2GHz, 6
                                                Cores, 12 Threads)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Memory</td>
                                            <td> 8GB DDr4 Bus 3200Mhz (2 Slot, 4GB x 02, Dual Chanel)</td>
                                        </tr>
                                        <tr>
                                            <td> Hard Disk</td>
                                            <td> 512GB PCIe® NVMe™ M.2 SSD (Support x 1 Slot SSD M2 PCIe)</td>
                                        </tr>
                                        <tr>
                                            <td> VGA</td>
                                            <td> NVIDIA® GeForce® GTX1650 with 4GB GDDR6 / AMD Radeon™ Graphics</td>
                                        </tr>
                                        <tr>
                                            <td> Display</td>
                                            <td>
                                                16.1 inch Full HD (1920 x 1080) 144Hz IPS Micro Edge Anti Glare 250
                                                Nits
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Other</td>
                                            <td>
                                                HP Audio Boost B&amp;O Play, Webcam 720p, Backlit Keyboard,
                                                Multi-Format SD Media Card Reader, Headphone/ Microphone Combo, HDMI
                                                2.1, RJ-45, SuperSpeed USB Type A 5Gbps Signaling Rate, SuperSpeed USB
                                                Type A 5Gbps Signaling Eate (HP Sleep and Charge), SuperSpeed USB Type-C
                                                5Gbps Signaling Rate (DisplayPort™ 1.4, HP Sleep and Charge)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Wireless</td>
                                            <td> Intel Wi Fi 6 (802.11ax) + Bluetooth 5.1</td>
                                        </tr>
                                        <tr>
                                            <td> Battery</td>
                                            <td> 4 Cells 70 Whrs Battery</td>
                                        </tr>
                                        <tr>
                                            <td> Weight</td>
                                            <td> 2,40 Kg</td>
                                        </tr>
                                        <tr>
                                            <td> SoftWare</td>
                                            <td> Windows 10 Home SL 64bit</td>
                                        </tr>
                                        <tr>
                                            <td> Xuất xứ</td>
                                            <td>
                                                Brand New 100%, Hàng Phân Phối Chính Hãng Tại Việt Nam, Bảo Hành Chính
                                                Hãng
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Màu sắc</td>
                                            <td> Mica Silver</td>
                                        </tr>
                                        <tr>
                                            <td> Bảo hành</td>
                                            <td> 12 tháng</td>
                                        </tr>
                                        <tr>
                                            <td> VAT</td>
                                            <td> Đã bao gồm VAT</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bestseller">
        <div class="bestseller-main">
            <div class="title-bestseller">
                <div class="border-bestseller"></div>
                <div class="title-main-bestseller">Bán chạy nhất</div>
                <a class="view-all-bestseller" href="">Xem tất cả <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="product-bestseller">
                <a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a><a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller img-product-sell1"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Đế tản nhiệt Laptop DEEPCOOL Windpal Mini</div>
                            <div class="product-status">Còn 1 sản phẩm</div>
                        </div>
                        <div class="product-price">228.000 ₫</div>
                    </div>
                </a>
                <a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller  img-product-sell2"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">USB 64GB Kingston DT100G3</div>
                            <div class="product-status">Còn 5 sản phẩm</div>
                        </div>
                        <div class="product-price">229.000 ₫</div>
                    </div>
                </a>
                <a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller  img-product-sell3"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">USB 32GB SanDisk SDCZ73- G46 Ultra</div>
                            <div class="product-status">Còn 10 sản phẩm</div>
                        </div>
                        <div class="product-price">157.000 ₫</div>
                    </div>
                </a>
                <a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller  img-product-sell4"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Box ổ cứng 2.5'' Orico 2588US3 Sata (3.0) (Đen)</div>
                            <div class="product-status">Còn 6 sản phẩm</div>
                        </div>
                        <div class="product-price">172.000 ₫</div>
                    </div>
                </a>
                <a class="click-action" href="">
                    <div class="product-bestseller-items">
                        <div class="img-product-bestseller  img-product-sell5"></div>
                        <div class="product-bestseller-name">
                            <div class="product-name">Box ổ cứng 2.5'' Orico 2588US3 Sata (3.0) (Bạc)</div>
                            <div class="product-status">Còn 4 sản phẩm</div>
                        </div>
                        <div class="product-price">172.000 ₫</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section scriptPage
{
    <script src="~/Scripts/slider.js"></script>
    <script src="~/Scripts/product-bestseller.js"></script>
}