* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body, html {
    background-color: rgba(204, 204, 202, 0.3);
    /*overflow-y: scroll;*/
    scroll-behavior: smooth;
    font-family: roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-14 {
    font-size: 14px;
}

/*Start CSS header top*/
#header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 0 43px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

    #header .header_logo {
        width: 250px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../image/logo.png");
    }

        #header .header_logo .logo {
            /*width: 250px;*/
            /*height: 36px;*/
            max-width: 100%;
            height: auto;
        }

    #header .header_search {
        width: 100%;
        flex: 1;
        padding: 0 16px;
    }

        #header .header_search .header_input-search {
            padding: 6px 12px;
            height: 37px;
            width: 100%;
            border-radius: 5px;
            border: 0;
            outline: none;
            background-color: #f5f5f5;
        }

        #header .header_search .header_btn-search {
            font-size: 18px;
            padding: 8px 10px;
            border-radius: 5px;
            color: #fff;
            background-color: #1435c3;
            cursor: pointer;
            border: none;
        }

        #header .header_search .search {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #header .menu-mobile-class {
        display: none;
    }

    #header .header_list {
        list-style-type: none;
        display: flex;
        margin: auto;
        align-items: center;
    }

        #header .header_list .header_list-item {
            list-style-type: none;
            display: flex;
            margin: auto;
            align-items: center;
        }

        #header .header_list .header_sub-list {
            width: 90px;
            height: 75px;
            padding: 12px 3px;
            text-align: center;
            z-index: 1;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            transition: color 0.4s ease-in-out;
        }

            #header .header_list .header_sub-list:before {
                content: '';
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1em;
                height: 1em;
                background-color: rgba(20, 53, 195, 1);
                transform-origin: center;
                transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
                /*transition: transform 0.45s ease-in-out;*/
            }

            /*#header .header_list .header_sub-list:hover {*/
            /*    cursor: pointer;*/
            /*    !*color: #161616;*!*/
            /*    color: #ffffff;*/
            /*}*/
            #header .header_list .header_sub-list:hover::before {
                color: #ffffff;
                transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
            }

            #header .header_list .header_sub-list:hover i {
                color: #ffffff;
            }

            /*#header .header_list .header_sub-list:hover a {*/
            /*    color: #ffffff;*/
            /*}*/

            #header .header_list .header_sub-list:hover .hover-header {
                color: #ffffff;
                cursor: pointer;
            }

            #header .header_list .header_sub-list .hover-header1 {
                font-size: 32px;
            }


            #header .header_list .header_sub-list i {
                display: block;
                text-align: center;
                color: #cccccc;
                padding-bottom: 5px;
            }

            #header .header_list .header_sub-list a {
                text-decoration: none;
                color: #ccc;
            }

/*End CSS header top*/

/*Start CSS slider*/
#slider {
    position: relative;
}

    #slider .slider-image {
        margin-top: 80px;
        height: 566px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateX(0);
        transition: transform 0.25s;
    }

    #slider .btn-slider {
        position: absolute;
        top: 50%;
        width: 75px;
        height: 75px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid #cccccc;
        cursor: pointer;
    }

        #slider .btn-slider i {
            font-size: 30px;
            color: #cccccc;
        }

    #slider .previous {
        border-radius: 0 40px 40px 0;
        left: 0;
        border-left: none;
    }

    #slider .next {
        border-radius: 40px 0 0 40px;
        right: 0;
        border-right: none;
    }

    #slider .slider-element {
        width: 100%;
        height: 140px;
        display: flex;
        position: absolute;
        /*background-color: rgba(0,0,0,0.6);*/
        bottom: -70px;
        justify-content: space-around;
    }

        #slider .slider-element .slider-items {
            width: 296px;
            height: 140px;
            background-color: orange;
            border-radius: 10px;
            transition: 0.3s;
        }

    #slider .slider-items:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    #slider .slider-left {
        background-image: url("../image/img_2.png");
    }

    #slider .slider-center {
        background-image: url("../image/img_3.png");
    }

    #slider .slider-right {
        background-image: url("../image/img_4.png");
    }

    #slider .slider-left,
    #slider .slider-center,
    #slider .slider-right {
        /*background-color: #cccccc;*/
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/*End CSS slider*/

/*Start CSS content*/
#content {
    width: 100%;
    /*height: 100vh;*/
    margin-top: 88px;
    /*background-color: darkgray;*/
    margin-bottom: 24px;
    position: relative;
}

    #content .product {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
        display: flex;
        align-content: center;
        align-items: center;
        /*justify-content: center;*/
        flex-wrap: wrap;
    }

    #content .outstanding-brand {
        width: 100%;
        height: 252px;
        margin-bottom: 24px;
    }

    #content .product .product-item-big {
        width: 100%;
    }

    #content .product .product-item-big,
    #content .outstading-brand-main {
        margin: 0 16px;
        height: 100%;
        /*width: 100%;*/
        border-radius: 10px;
        background-color: #fff;
        flex: 1;
    }

        #content .bestseller .title-main-bestseller,
        #content .product .title-main-product,
        #content .outstading-brand-main .title-main {
            display: flex;
            align-items: center;
            padding-left: 16px;
            height: 56px;
            font-weight: bold;
        }


    #content .bestseller .title-main-bestseller {
        color: #ffffff;
    }

    #content .bestseller .title-bestseller,
    #content .product .title-product {
        display: flex;
        justify-content: space-between;
    }

    #content .bestseller .title-bestseller {
        border-bottom: 1px solid #ffffff;
    }

    #content .bestseller .title-bestseller,
    #content .product .title-product,
    #content .outstading-brand-main .title-outstanding {
        position: relative;
    }

    #content .bestseller .border-bestseller,
    #content .product .border-product,
    #content .outstading-brand-main .border-outstanding {
        position: absolute;
        top: 18px;
        left: 0px;
        margin-right: 8px;
        display: inline-block;
        content: "";
        width: 3px;
        height: 21px;
        background: #1B1D29;
    }

    #content .bestseller .border-bestseller {
        background-color: #ffffff;
    }

    #content .outstand-product {
        display: flex;
        justify-content: space-around;
        height: 160px;
    }

        #content .outstand-product .outstand-product-items {
            height: 100%;
            /* width: 310px; */
            flex: 1;
            margin: 0 16px;
        }

        #content .outstand-product .outstand1 {
            background-image: url("../image/img_5.png");
        }

        #content .outstand-product .outstand2 {
            background-image: url("../image/img_6.png");
        }

        #content .outstand-product .outstand4 {
            background-image: url("../image/img_7.png");
        }

        #content .outstand-product .outstand3 {
            background-image: url("../image/img_8.png");
        }

        #content .outstand-product .img-outstand {
            height: 160px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
            transition: 0.3s;
        }

    #content .img-outstand:hover {
        transform: scale(1.02);
    }

    #content .outstand-product .title-outstand {
        text-align: center;
        margin-top: 8px;
    }

    #content .product .product-biggest {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-around;
        height: 100%;
        flex-wrap: wrap;
        width: 50%;
    }

    #content .bestseller .view-all-bestseller,
    #content .product .view-all {
        text-decoration: none;
        color: darkgray;
        margin: auto 38px;
    }

    #content .bestseller .view-all-bestseller {
        color: #ffffff;
    }

    #content .product .product-cover {
        display: flex;
        flex-wrap: wrap;
        height: 397px;
    }

    #content .product .product-selling {
        height: 100%;
        width: 217px;
        /*flex: 1;*/
        background-color: #1435c3;
    }

    #content .product .product-item-cover {
        height: 100%;
        width: 425px;
        display: flex;
        flex-wrap: wrap;
    }

    #content .product .product-items {
        width: 212px;
        height: 198px;
        padding: 16px;
        border: 1px solid #ccc;
        border-top: none;
        border-right: none;
    }

    #content .product .title-product-item {
        font-weight: bold;
        text-align: center;
        line-height: 1.3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*word-wrap: break-word;*/
        /*height: 30px;*/
        /*overflow: hidden;*/
        /*-webkit-line-clamp: 2 !important;*/
        /*display: -webkit-box;*/
        /*-webkit-line-clamp: 3;*/
        /*-webkit-box-orient: vertical;*/
        /*font-size: 14px;*/
        /*margin: 8px 0;*/
        /*line-height: 1.8;*/
    }

    #content .product .slogan-item {
        font-size: 14px;
        text-align: center;
        margin-bottom: 24px;
        margin-top: 12px;
        font-weight: 700;
        color: #d42333;
    }

    #content .product .img-product-item {
        height: 94px;
        width: 94px;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;
    }

    #content .product .product-selling {
        border-radius: 0 0 0 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;
    }

    #content .product .product-hover-items,
    #content .product .product-hover-selling {
        text-decoration: none;
        color: #111111;
    }


        #content .product .product-hover-selling:hover .product-selling {
            transform: scale(1.05);
        }

        #content .product .product-hover-items:hover .img-product-item {
            transform: scale(1.07);
        }


    #content .bestseller {
        width: 100%;
        height: 418px;
        margin-bottom: 24px;
    }

        #content .bestseller .bestseller-main {
            height: 100%;
            margin: 0 16px;
            background-color: #fa5406;
            border-radius: 10px;
        }

        #content .bestseller .product-bestseller {
            width: 100%;
            height: 362px;
            padding: 12px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
        }

/*#content .product-bestseller .btn-arrow {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: rgba(1,1,1,0.1);*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*}*/

.slick-prev {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: rgba(1, 1, 1, 0.1);
    font-size: 16px;
    cursor: pointer;
    border-left: none;
    border-radius: 0 5px 5px 0;
    top: 35%;
}

.slick-next {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: rgba(1, 1, 1, 0.1);
    font-size: 16px;
    cursor: pointer;
    border-right: none;
    border-radius: 5px 0 0 5px;
    top: 35%;
}

#content .bestseller .product-bestseller-items {
    /* width: 249px; */
    /* height: 13%; */
    flex: 1;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 7px;
}

#content .product-bestseller .img-product-bestseller {
    /*width: 217px;*/
    height: 217px;
    /*margin: auto;*/
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#content .bestseller .product-name {
    background-color: transparent;
    color: rgb(67, 70, 87);
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

#content .bestseller .product-status {
    color: rgb(230, 152, 58);
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
}

#content .product-bestseller .product-price {
    width: 100%;
    height: 24px;
    margin-top: 4px;
    color: #1435c3;
    font-weight: bold;
}

#content .product-bestseller .click-action {
    text-decoration: none;
}

    #content .product-bestseller .click-action:hover .img-product-bestseller {
        transform: scale(1.05);
    }

/*End CSS content*/
/*Start CSS footer*/
#footer {
    width: 100%;
    height: 185px;
    background-color: #b7b7b7;
}

    #footer .footer-main {
        padding: 24px 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer .footer-element p {
        margin-top: 16px;
        color: #555050;
    }

    #footer .footer-icon {
        display: inline-block;
        height: 46px;
        width: 46px;
        font-size: 23px;
        color: #555050;
        border-radius: 50%;
        border: 1px solid #555050;
        margin: 8px;
        padding: 10px 8px;
        /* justify-content: center; */
        /* align-items: center; */
    }

/*End CSS footer*/
/*Start CSS login forgot*/
#login-main.js-login.open {
    display: flex;
}

#forgot-main.js-forgot.open {
    display: flex;
}

#register-main,
#forgot-main,
#login-main {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

    #forgot-main .forgot,
    #login-main .login {
        display: flex;
        flex-direction: column;
        width: 396px;
        padding: 10px 16px 24px 16px;
        background-color: #ffffff;
        border-radius: 8px;
        /*justify-content: center;*/
        align-items: center;
        animation: downAnimation ease 0.3s;
    }

@keyframes downAnimation {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

#login-main .login {
    height: 425px;
}

#forgot-main .forgot {
    height: 390px;
}

#login-main .title-login,
#forgot-main .title-forgot {
    width: 100%;
}

#forgot-main .forgot input,
#login-main .login input {
    width: 100%;
    padding: 14px 16px;
    margin: 6px 0;
    font-size: 16px;
}

#forgot-main .forgot .btn-forgot,
#login-main .login .btn-login {
    width: 100%;
    display: block;
    font-size: 20px;
    background-color: #1877f2;
    border-radius: 6px;
    padding: 0 16px;
    line-height: 48px;
    outline: none;
    border: none;
    color: #ffffff;
    margin-top: 12px;
    cursor: pointer;
}

#forgot-main .forgot-pass,
#login-main .forgot-pass {
    text-align: center;
    display: block;
    padding: 0px 30px;
    cursor: pointer;
}

#forgot-main .forgot-pass-main,
#login-main .forgot-pass-main {
    margin-top: 16px;
}

    #forgot-main .forgot-pass-main .forgot-pass,
    #login-main .forgot-pass-main .forgot-pass {
        text-decoration: none;
        color: #1877f2;
    }

#forgot-main .border,
#login-main .border {
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
    text-align: center;
}

#register-main .register-div,
#forgot-main .come-back,
#login-main .new-account {
    width: 100%;
    height: 54px;
    margin-top: 6px;
    text-align: center;
}

    #register-main .register-div .btn-register,
    #forgot-main .come-back .btn-come-back,
    #login-main .new-account .btn-new-account {
        text-decoration: none;
        color: #ffffff;
        padding: 15px 26px;
        background-color: #42b72a;
        border-radius: 8px;
        cursor: pointer;
    }

/*End CSS login forgot*/
/*Start CSS register*/
#register-main .register {
    width: 432px;
    height: auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 16px 24px 16px;
    animation: downAnimation ease 0.3s;
}

    #register-main .register .border {
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #dadde1;
        margin: 12px 0;
        text-align: center;
    }

#register-main .register-form .input-item-haft {
    width: 48%;
    padding: 14px 16px;
    margin: 6px 0;
    font-size: 16px;
    float: left;
}

#register-main .input-item-haft.left {
    margin-right: 8px;
}

#register-main .input-item-haft.right {
    margin-left: 8px;
}

#register-main .register-form .input-items {
    width: 100%;
    padding: 14px 16px;
    margin: 6px 0;
    font-size: 16px;
}

#register-main .register-form .register-div {
    margin-top: 24px;
}

#register-main .register .title-register {
    position: relative;
}

#register-main .title-register .close-register {
    padding: 2px 2px;
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 30px;
    color: #111111;
    cursor: pointer;
}

#register-main.js-register.open {
    display: flex;
}

/*End CSS register*/

/*Scroll Indicator*/
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: absolute;
    bottom: -8px;
    /*z-index: -10;*/
}

.progress-bar {
    height: 8px;
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
    width: 0%;
    transition: width 0.2s ease-out;
}

/*Back to top*/
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    outline: none;
    background: black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
}

    #myBtn:hover {
        transition: 0.3s;
        opacity: 0.8;
    }

.hover-cart {
    z-index: 1000;
    position: fixed;
    width: 385px;
    height: auto;
    background-color: white;
    right: 125px;
    word-wrap: break-word;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    top: 79px;
    display: none;
    /* justify-content: center; */
    /* bottom: 0; */
}

    .hover-cart .cover-cart-item {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        height: 250px;
    }

    .hover-cart .cart-item {
        display: flex;
        margin-top: 4px;
        border-bottom: 1px solid #cccccc;
    }

    .hover-cart .img-cart-item {
        width: 80px;
        height: 80px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hover-cart .details-cart-item {
        height: 80px;
        width: 256px;
        margin-left: 12px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .hover-cart .infor-cart-item {
        font-weight: 400;
        font-size: 14px;
        margin: 4px 0 4px 0;
    }

    .hover-cart .num-cart-item {
        font-weight: 500;
        font-size: 12px;
        opacity: 0.3;
        margin: 4px 0 4px 0;
    }

    .hover-cart .price-cart-item {
        font-weight: 700;
        margin: 4px 0 4px 0;
    }


    .hover-cart .total-cart {
        height: auto;
        /*background-color: #1435c3;*/
        width: 100%;
        padding: 8px;
    }

    .hover-cart .total-price-infor {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .hover-cart .total-price {
        font-weight: 800;
        color: crimson;
    }

    .hover-cart .btn-view-cart {
        display: block;
        text-align: center;
        margin-bottom: 8px;
    }

        .hover-cart .btn-view-cart a {
            background-color: #1435c3;
            padding: 10px 127px;
            color: white;
            text-decoration: none;
            border-radius: 10px;
        }

.icon-cart {
    width: 25px;
    height: 25px;
    background-color: #ff4d4d;
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2px;
}

/*Start all product*/
#content1 {
    margin-top: 88px;
    /*padding: 8px;*/
    background: #f8f8fc;
}

    #content1 .title-pro-all {
        padding-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-bottom: 35px;
    }

        #content1 .title-pro-all span {
            font-style: italic;
        }

    #content1 .logo-lap {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 10%;
        margin-bottom: 12px;
    }


    #content1 .title-all-product-item {
        display: block;
        text-align: center;
        margin: 8px 0;
        font-weight: 800;
        font-size: 68px;
        line-height: 1;
        padding-top: 32px;
    }

    #content1 .all-product-cover {
        display: flex;
        /*justify-content: center;*/
        align-content: center;
        align-items: center;
        /* width: 100%; */
        height: auto;
        flex-wrap: wrap;
        background: #f8f8fc;
        margin: 8px;
        border-radius: 10px;
    }

    #content1 .cover-all-product {
        /*background: white;*/
        /*padding: 1px 0;*/
        width: 100%;
        border-radius: 10px;
        /* display: table-header-group; */
    }

    #content1 .all-product-item {
        flex: 1;
        /* width: 200px; */
        height: 312px;
        /* background-color: #1435c3; */
        margin: 4px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        align-content: center;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        color: #111111;
        background-color: white;
        padding: 8px;
        border-radius: 10px;
        min-width: 15%;
        max-width: 100%;
    }

    #content1 .filter-product {
        width: 100%;
        height: auto;
        background: white;
        /*height: 100px;*/
        border-radius: 10px;
        display: inline-block;
        /*margin: 8px 8px 16px 8px;*/
        margin-bottom: 16px;
        /*flex-wrap: wrap;*/
    }

    #content1 .title-filter-product {
        /*width: 100%;*/
        height: auto;
        padding: 16px 16px 16px 8px;
    }

    #content1 .filter-another {
        background: white;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        height: auto;
        padding: 16px 18px;
        border-radius: 10px 10px 0 0;
        /*border-bottom: 1px solid #cccccc;*/
    }

    #content1 .price-filter {
        display: flex;
        align-content: center;
        align-content: center;
        justify-content: center;
    }

    #content1 .btn-search-filter {
        padding: 8px 16px;
        color: white;
        background: #1435c3;
        box-shadow: 0 0 10px #1435c3;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 32px;
        display: none;
    }

    #content1 .input-filter-product {
        border: none;
        outline: none;
        height: auto;
    }

    #content1 .filter {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        height: auto;
        padding: 0 18px;
        margin: 8px 0;
    }

    #content1 .title-filter {
        flex: 1;
        margin-right: 32px;
        /*width: 150px;*/
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: flex-start;
    }

    #content1 .filter-items {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex: 8;
    }

    #content1 .filter-item {
        position: relative;
        padding: 8px 12px;
        border-radius: 15px 0 15px 0;
        border: 1px solid #e0e0e0;
        margin: 4px 8px;
        cursor: pointer;
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

    #content1 .filter-item-another {
        position: relative;
        padding: 8px 12px;
        border-radius: 15px 0 15px 0;
        border: 1px solid #e0e0e0;
        margin: 0 8px;
        cursor: pointer;
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

.filter-class-add {
    border: 1px solid rgb(20, 53, 195) !important;
}

#content1 .tick {
    display: none;
    font-size: 10px;
    color: white;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 20px 20px 0px;
    border-color: transparent rgb(20, 53, 195) transparent transparent;
}

#content1 .tick-another {
    display: none;
    font-size: 10px;
    color: white;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 20px 20px 0px;
    border-color: transparent rgb(20, 53, 195) transparent transparent;
}


#content1 .hover-all-product {
    /*margin: 0 8px;*/
    flex: 1;
    min-width: 15%;
    max-width: 20%;
    /*max-width: inherit;*/
}

    #content1 .hover-all-product:hover .img-all-product-item {
        transform: scale(1.1);
    }

#content1 .img-all-product-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 60%;
    transition: 0.3s;
}


#content1 .status {
    float: left;
    background-color: #1435c3;
    color: white;
    padding: 8px;
    width: fit-content;
    font-size: 12px;
    bottom: 120px;
    left: 0;
    position: absolute;
}

#content1 .status-sale {
    padding: 5px;
    width: fit-content;
    height: auto;
    background-color: #d42333;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 0;
    color: white;
    z-index: 2;
}

#content1 .infor-all-product-item {
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    margin: 8px 0;
    line-height: 1.8;
    /*height: 30px;*/
}

#content1 .price-all-product-item {
    margin: 8px 0;
    font-weight: 800;
}

#content1 .sale-all-product-item {
    font-size: 12px;
    font-weight: 400;
}

#content1 .origin-price {
    text-decoration: line-through;
}

/*.dots-slick {*/
/*    position: absolute;*/
/*    bottom: -20px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    display: flex;*/
/*}*/

/*.dots-slick ul {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.dots-slick li {*/
/*    margin: 0 4px;*/
/*}*/


/*.dots-slick button {*/
/*    background: #1435c3;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    overflow: hidden;*/
/*    color: #1435c3;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*}*/

/*.dots-slick button:checked{*/
/*    background: white;*/
/*}*/
/*.dots-slick button:focus{*/
/*    background: white;*/
/*}*/
.dots-slick {
    width: 100%;
}


.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

li {
    margin: 0 0.25rem;
}

.dots-slick button {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: white;
    /*text-indent: -9999px;*/
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

li.slick-active button {
    background-color: #1435c3;
    color: white;
}

.slick-slide {
    box-sizing: border-box;
}

/*.dots-slick button:focus{*/
/*    background: white;*/
/*}*/


/*End all product*/

ul.my-pagination {
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

    ul.my-pagination li a {
        padding: 6px 4px;
        cursor: pointer;
        border-radius: 8px;
        text-decoration: none;
    }

    ul.my-pagination li a:hover {
        opacity: 0.8;
    }

    ul.my-pagination li a.active {
        background-color: black;
        color: white;
    }
