<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Metaverse Laptop</title>
    <link href="image/logo-re.png" rel="icon">
    @*<link href="css/style.css" rel="stylesheet">*@
    <link href="fonts/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          referrerpolicy="no-referrer" rel="stylesheet" />
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          referrerpolicy="no-referrer" rel="stylesheet" />
    @*<link href="css/responsiveIndex.css" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="main">
        <div id="header">
            <a href="#">
                <div class="header_logo">
                    <!--                <img src="../image/img_1.png" alt="" class="logo">-->
                </div>
            </a>
            <form action="" class="header_search">
                <div class="search">
                    <input class="header_input-search" placeholder="Nhập từ khóa cần tìm kiếm" required type="text">
                    <button class="header_btn-search" role="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <div class="header_list" id="header-list-id">
                <ul class="header_list-item">
                    <li class="header_sub-list">
                        <a class="font-14 hover-header" href="html/product-page.html">
                            <i class="hover-header1 fas fa-laptop"></i>Sản phẩm
                        </a>
                    </li>
                    <li class="header_sub-list">
                        <a class="font-14 hover-header" href="html/tutorial-page.html">
                            <i class="hover-header1 fas fa-clipboard-check"></i>Hướng dẫn
                        </a>
                    </li>
                    <li class="header_sub-list">
                        <a class="font-14 hover-header" href="html/about-us.html">
                            <i class="hover-header1 fas fa-users"></i>Thông tin
                        </a>
                    </li>
                    <li class="header_sub-list" id="li-cart">
                        <a class="font-14 hover-header" href="html/cart.html">
                            <i class="hover-header1 fas fa-shopping-cart"></i>Giỏ hàng
                        </a>
                        <div class="icon-cart" id="icon-cart"></div>
                    </li>
                    <li class="header_sub-list">
                        <a class="font-14 hover-header js-btn-login" role="button">
                            <i class="hover-header1 fas fa-user"></i>Đăng nhập
                        </a>
                    </li>
                </ul>
            </div>

            <div class="menu-mobile-class" id="mobile-menu">
                <i class="menu-mobile-btn ti-menu"></i>
            </div>

            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>


        </div>
        <div class="hover-cart" id="cart-hover">
            <div class="cover-cart-item">
                <div class="cart-item">
                    <div class="img-cart-item" style="background-image: url('image/dell/dell1/dell1.png')"></div>
                    <div class="details-cart-item">
                        <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                        <div class="num-cart-item">Số lượng: 2</div>
                        <div class="price-cart-item">5.620.000đ</div>
                    </div>
                </div>
                <div class="cart-item">
                    <div class="img-cart-item" style="background-image: url('image/dell/dell1/dell1.png')"></div>
                    <div class="details-cart-item">
                        <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                        <div class="num-cart-item">Số lượng: 2</div>
                        <div class="price-cart-item">5.620.000đ</div>
                    </div>
                </div>
                <div class="cart-item">
                    <div class="img-cart-item" style="background-image: url('image/dell/dell1/dell1.png')"></div>
                    <div class="details-cart-item">
                        <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                        <div class="num-cart-item">Số lượng: 2</div>
                        <div class="price-cart-item">5.620.000đ</div>
                    </div>
                </div>
                <div class="cart-item">
                    <div class="img-cart-item" style="background-image: url('image/dell/dell1/dell1.png')"></div>
                    <div class="details-cart-item">
                        <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                        <div class="num-cart-item">Số lượng: 2</div>
                        <div class="price-cart-item">5.620.000đ</div>
                    </div>
                </div>
                <div class="cart-item">
                    <div class="img-cart-item" style="background-image: url('image/dell/dell1/dell1.png')"></div>
                    <div class="details-cart-item">
                        <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                        <div class="num-cart-item">Số lượng: 2</div>
                        <div class="price-cart-item">5.620.000đ</div>
                    </div>
                </div>
            </div>
            <div class="total-cart">
                <div class="total-price-infor">
                    <div class="total-product">Tổng tiền (2) sản phẩm</div>
                    <div class="total-price">11.240.000đ</div>
                </div>
                <div class="btn-view-cart" role="button"><a class="btn-tt" href="html/cart.html">Xem giỏ hàng</a></div>
            </div>
        </div>
        @RenderBody()
        <div id="footer">
            <div class="footer-main">
                <div class="footer-element">
                    <a class="footer-icon" href="https://github.com/unlocker1205/LaptopSellingWebsite" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="footer-icon" href="" target="_blank"><i class="fas fa-globe-asia"></i></a>
                    <a class="footer-icon" href="" target="_blank"><i class="fas fa-users"></i></a>
                    <p class="copyright">Design by Team 1 © Web programming 2021</p>
                </div>
            </div>
        </div>
    </div>
    <div class="js-login" id="login-main" style="z-index: 1000">
        <div class="login js-login-container">
            <div class="title-login">
                <a class="close-login" role="button"></a>
                <h1 class="title-login-main">Đăng nhập</h1>
                <p class="slogan-login">Hãy tham gia cùng chúng tôi</p>
            </div>
            <div class="border"></div>
            <form action="" class="login-form">
                <div class="input-login">
                    <input class="input-items" placeholder="Tên đăng nhập" required type="text">
                    <input class="input-items" placeholder="Mật khẩu" required type="password">
                </div>
                <button class="btn-login">Đăng nhập</button>
            </form>
            <div class="forgot-pass-main">
                <a class="forgot-pass js-forgot-pass" role="button">Quên mật khẩu</a>
            </div>
            <div class="border"></div>
            <div class="new-account">
                <a class="btn-new-account js-new-account" role="button">Tạo tài khoản mới</a>
            </div>
        </div>
    </div>
    <div class="js-forgot" id="forgot-main" style="z-index: 1000">
        <div class="forgot js-forgot-container">
            <div class="title-forgot">
                <a class="close-forgot" role="button"></a>
                <h1 class="title-forgot-main">Quên mật khẩu</h1>
                <p class="slogan-forgot">Chúng tôi sẽ hỗ trợ tận tình</p>
            </div>
            <div class="border"></div>
            <form action="" class="forgot-form">
                <div class="input-forgot">
                    <input class="input-items" placeholder="Tên đăng nhập" required type="text">
                    <input class="input-items" placeholder="Mật khẩu gần nhất" required type="password">
                </div>
                <button class="btn-forgot">Tìm tài khoản</button>
            </form>
            <div class="border"></div>
            <div class="come-back">
                <a class="btn-come-back js-come-back" role="button">Quay trở lại đăng nhập</a>
            </div>
        </div>
    </div>
    <div class="js-register" id="register-main" style="z-index: 1000">
        <div class="register js-register-container">
            <div class="title-register">
                <a class="close-register js-close-icon" role="button"><i class="fas fa-times"></i></a>
                <h1 class="title-register-main" style="margin: 0; line-height: 1.4;">Đăng kí</h1>
                <p class="slogan-register">Nhanh chóng và dễ dàng</p>
            </div>
            <div class="border"></div>
            <form action="" class="register-form">
                <div class="input-register">
                    <input class="input-items" placeholder="Họ và tên" required type="text">
                    <input class="input-items" placeholder="Tên đăng nhập" required type="text">
                    <input class="input-items" placeholder="Mật khẩu mới" required type="password">
                    <input class="input-items" placeholder="Địa chỉ nhận hàng" required type="password">
                    <input class="input-items" placeholder="Email liên hệ" required type="password">
                </div>
                <div class="register-div">
                    <a class="btn-register" role="button">Đăng kí</a>
                </div>
            </form>
        </div>
    </div>
    <!--Back to top-->
    <button id="myBtn">&#8593;</button>
    @*<script src="js/register.js"></script>
        <script src="js/register.js"></script>*@
    <script crossorigin="anonymous" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    @*<script src="js/slider.js"></script>
        <script src="js/product-bestseller.js"></script>
        <script src="js/nav-responsive.js"></script>
        <script src="js/BackToTop.js"></script>
        <script src="js/Scroll-Indicator.js"></script>
        <script src="js/visibleCart.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>