
<div id="footer">
    <div class="footer-main">
        <div class="footer-element">
            <a class="footer-icon"
               href="https://github.com/unlocker1205/LaptopSellingWebsite"
               target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a class="footer-icon" href="" target="_blank">
                <i class="fas fa-globe-asia"></i>
            </a>
            <a class="footer-icon" href="" target="_blank">
                <i class="fas fa-users"></i>
            </a>
            <p class="copyright">Design by Team 1 © Web programming 2021</p>
        </div>
    </div>
</div>

