<div class="hover-cart" id="cart-hover">
    <div class="cover-cart-item">
        <div class="cart-item">
            <div class="img-cart-item" style="background-image: url(../image/image99.png)">

            </div>
            <div class="details-cart-item">
                <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                <div class="num-cart-item">Số lượng: 2</div>
                <div class="price-cart-item">5.620.000đ</div>
            </div>
        </div>
        <div class="cart-item">
            <div class="img-cart-item" style="background-image: url(../image/image99.png)">

            </div>
            <div class="details-cart-item">
                <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                <div class="num-cart-item">Số lượng: 2</div>
                <div class="price-cart-item">5.620.000đ</div>
            </div>
        </div>
        <div class="cart-item">
            <div class="img-cart-item" style="background-image: url(../image/image99.png)">

            </div>
            <div class="details-cart-item">
                <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                <div class="num-cart-item">Số lượng: 2</div>
                <div class="price-cart-item">5.620.000đ</div>
            </div>
        </div>
        <div class="cart-item">
            <div class="img-cart-item" style="background-image: url(../image/image99.png)">

            </div>
            <div class="details-cart-item">
                <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                <div class="num-cart-item">Số lượng: 2</div>
                <div class="price-cart-item">5.620.000đ</div>
            </div>
        </div>
        <div class="cart-item">
            <div class="img-cart-item" style="background-image: url(../image/image99.png)">

            </div>
            <div class="details-cart-item">
                <div class="infor-cart-item">Màn hình LCD VIEWSONIC VP2458 (1920 x 1080/IPS/60Hz/5 ms)</div>
                <div class="num-cart-item">Số lượng: 2</div>
                <div class="price-cart-item">5.620.000đ</div>
            </div>
        </div>
    </div>
    <div class="total-cart">
        <div class="total-price-infor">
            <div class="total-product">Tổng tiền (2) sản phẩm</div>
            <div class="total-price">11.240.000đ</div>
        </div>
        <div class="btn-view-cart" role="button"><a class="btn-tt" href="cart.html">Xem giỏ hàng</a></div>
    </div>
</div>