
<div class="js-login" id="login-main" style="z-index: 1000">
    <div class="login js-login-container">
        <div class="title-login">
            <a class="close-login" role="button"></a>
            <h1 class="title-login-main">Đăng nhập</h1>
            <p class="slogan-login">Hãy tham gia cùng chúng tôi</p>
        </div>
        <div class="border"></div>
        <form action="" class="login-form">
            <div class="input-login">
                <input class="input-items" placeholder="Tên đăng nhập" required type="text">
                <input class="input-items" placeholder="Mật khẩu" required type="password">
            </div>
            <button class="btn-login">Đăng nhập</button>
        </form>
        <div class="forgot-pass-main">
            <a class="forgot-pass js-forgot-pass" role="button">Quên mật khẩu</a>
        </div>
        <div class="border"></div>
        <div class="new-account">
            <a class="btn-new-account js-new-account" role="button">Tạo tài khoản mới</a>
        </div>
    </div>
</div>
<div class="js-forgot" id="forgot-main" style="z-index: 1000">
    <div class="forgot js-forgot-container">
        <div class="title-forgot">
            <a class="close-forgot" role="button"></a>
            <h1 class="title-forgot-main">Quên mật khẩu</h1>
            <p class="slogan-forgot">Chúng tôi sẽ hỗ trợ tận tình</p>
        </div>
        <div class="border"></div>
        <form action="" class="forgot-form">
            <div class="input-forgot">
                <input class="input-items" placeholder="Tên đăng nhập" required type="text">
                <input class="input-items" placeholder="Mật khẩu gần nhất" required type="password">
            </div>
            <button class="btn-forgot">Tìm tài khoản</button>
        </form>
        <div class="border"></div>
        <div class="come-back">
            <a class="btn-come-back js-come-back" role="button">Quay trở lại đăng nhập</a>
        </div>
    </div>
</div>
<div class="js-register" id="register-main" style="z-index: 1000">
    <div class="register js-register-container">
        <div class="title-register">
            <a class="close-register js-close-icon" role="button"><i class="fas fa-times"></i></a>
            <h1 class="title-register-main" style="margin: 0; line-height: 1.4;">Đăng kí</h1>
            <p class="slogan-register">Nhanh chóng và dễ dàng</p>
        </div>
        <div class="border"></div>
        <form action="" class="register-form">
            <div class="input-register">
                <input class="input-items" placeholder="Họ và tên" required type="text">
                <input class="input-items" placeholder="Tên đăng nhập" required type="text">
                <input class="input-items" placeholder="Mật khẩu mới" required type="password">
                <input class="input-items" placeholder="Địa chỉ nhận hàng" required type="password">
                <input class="input-items" placeholder="Email liên hệ" required type="password">
            </div>
            <div class="register-div">
                <a class="btn-register" role="button">Đăng kí</a>
            </div>
        </form>
    </div>
</div>
